body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.responsive_ui {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left_float {
  float: left;
}